.frame-container {
  border: 5px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 8px red;
  background-color: rosybrown;
  overflow-y: auto;
  min-height: 85vh;
}

.login-form {
  max-width: 400px;
  margin: 50px auto 0; 
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin: 25px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #66afe9;
}

.forgot-password {
  margin: 10px 0;
  text-align: right;
}

a {
  color: #0066cc;
  text-decoration: none;
  font-size: 14px;
}

button {
  background-color: #0066cc;
  color: #fff;
  padding: 14px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: #0052a3;
  transform: scale(1.05);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 15px;
  text-align: center;
}





.show-password-container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 7px;
}

.show-password-container label {
  display: block;
  transform: translateY(4px); 
}
